/* FOOTER TOP BANNER */

.top-banner {
    height: 15vh;
    background-color: #0282f9;
}

.top-banner a {
    color: white;
}

.top-banner img {
    height: 40%;
}

.top-banner .col:nth-child(5) img {
    height: 30%;
}

.banner-content {
    height: 15vh;
}

.banner-content div {
    padding: 0 0 0 12px;
}

/* FOOTER MIDDLE BANNER */

.middle-banner {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER BOTTOM BANNER */

.bottom-banner {
    height: 12vh;
    background-color: #303030;
}

.left-bottom-banner {
    height: 12vh;
}

.left-bottom-banner a h5 {
    color: white;
    border: 3px solid #0282f9;
    padding: 12px;
    font-weight: bold;
}

.right-bottom-banner {
    height: 12vh;
}

.right-bottom-banner a h4 {
    color: #0282f9;
    font-weight: bold;
    padding-right: 12px;
    padding-top: 8px;
}

.right-bottom-banner a img {
    padding: 0 8px;
}
